<% if @user.errors.any? %>
<div class="card">
  <div class="card-header">The form contains <%= pluralize(@user.errors.count, "error") %>.</div>
  <div class="card-content">
    <div class="card-content-inner">
      <% @user.errors.full_messages.each do |msg| %>
        <p class="color-red"><%= msg %></p>
      <% end %>
    </div>
  </div>
</div>

<% end %>
